.intro {
    display: block;
}

.about-me {
    padding-top: 0;
}

.about-me-content {
    width: 70%;
}

.about-me-content_right img{
    border: 0ch;
}

.github-link {
    text-align: center;
    margin-top: 2rem;
}

.github-link a{
    color: rgba(255, 255, 255, .5); 
}

.github-link a:hover {
    color: white;
}

@media (max-width: 780px) {
    
    .about-me-content {
        width: 90%;
        margin: auto;
        display: block;
    }
    
    .about-me-content_left, .about-me-content_right {
        text-align: center;
        margin-left: 0px;
        margin-bottom: 2rem;
    }

    .tech-used{
        margin-top: 1rem;
    }


}